<#include "./layout.ftl">
<#assign title="Home">

<#macro inject_body>
	<section class="theme-full-height w3-margin-top" style="width:500px">
	    <div class="w3-container w3-margin-top">
			<a href="/branding/">Go to Branding</a>
		</div>
	</section>	   
</#macro>

<@template/>